.m-theme-switcher {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-6);
  border-radius: 5px;

  display: inline-flex;
  padding: 0.25rem;

  &:hover {
    background-color: var(--gray-1);
    border-color: var(--gray-5);
  }
}
